---
import Base from "../layouts/Base.astro";
import Dropdown from "../components/Dropdown.astro";
import DropdownItem from "../components/DropdownItem.astro";
---

<Base>
  <div class="flex flex-col h-screen">
    <div class="flex-none flex items-center p-3 gap-3 text-slate-300 bg-gradient-to-r from-blue-950 from-60% to-slate-950">
      <img
        src="/kal-logo.png"
        alt="KAL Logo"
        class="border border-slate-700 w-12 h-12 rounded-md block"
      />
      <h1
        class="font-mono-display font-semibold text-[26px] bg-clip-text text-transparent bg-gradient-to-r from-indigo-400 via-pink-500 to-rose-400"
      >Playground</h1>
    </div>

    <div class="flex-1 flex flex-col p-3 bg-slate-900">
      <textarea
        id="source"
        class="flex-1 border border-slate-700 text-slate-200 text-[16px] font-mono focus:border-slate-600 outline-none w-full h-full p-3 resize-none rounded-md bg-slate-900"
        placeholder="(Enter your code here)"
      ></textarea>
      <div class="flex-none mt-3">
        <div>
          <button
            type="button"
            id="execute-button"
            class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:from-purple-600 hover:to-pink-600 focus:ring-4 focus:outline-none focus:ring-purple-200 rounded-md text-[16px] px-6 py-2 text-center me-2 mb-2"
          >Execute 🗡️</button>

          <Dropdown label="Examples ⚔️">
            <DropdownItem><div id="example-factorial" class="py-2 px-4">Factorial</div></DropdownItem>
          </Dropdown>
        </div>
        <div
          id="executed-result"
          class="p-3 border border-slate-700 h-40 rounded-md text-slate-200 font-mono"
        >(Result)</div>
      </div>
    </div>
  </div>
</Base>

<script>
import { factorial } from "./examples";

const exampleFactorial = document.getElementById("example-factorial") as HTMLButtonElement;
const source = document.getElementById("source") as HTMLTextAreaElement;
exampleFactorial.addEventListener("click", () => {
  source.value = factorial;
  source.focus();
});
</script>

<script is:inline>
const btn = document.getElementById("execute-button");
const srcDom = document.getElementById("source");
const destDom = document.getElementById("executed-result");
btn.addEventListener("click", () => {
  try {
    var src = srcDom.value;
    var executedResult = kal.execute(src);
    destDom.innerHTML = executedResult;
  } catch (e) {
    destDom.innerHTML = e.message;
  }
});
</script>
