---
interface Props {
  label: string;
}

const { label } = Astro.props;
---

<button
  id="dropdownTopButton"
  data-dropdown-toggle="dropdownTop"
  data-dropdown-placement="top"
  class="me-3 mb-3 text-white bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:outline-none focus:ring-blue-300 rounded-md text-[16px] px-6 py-2 text-center inline-flex items-center"
  type="button"
>
  <p>{ label }</p>
  <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
  </svg>
</button>

<div id="dropdownTop" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownTopButton">
    <slot />
  </ul>
</div>
